body { 
  
	margin: 60px 0px 0px 0px;
  
	padding: 0px;

	Background-color: #AFB4BA;
}
#nav {
  
	width: 100%;
  
	height: 60px;
  
	background: #2B2B2B;
  
	top: 0;
  
	position: fixed;
	z-index: 100;
}
ul {
  
	width: 1200px;
  
	margin: 0px auto;
  
	display: block;
  
	padding: 0px;
}


li {
  
	list-style-type: none;

}

li a {
  
	width: 200px;
  
	height: 60px;
  
	display: inline-block;
  
	float: left;
  
	color: #F6F6F6;
  
	font-family: 'Helvetica Neue', sans-serif;
	line-height: 60px;
  
	text-decoration: none;
  
	text-align: center;
}

li a:hover {
	color: #2B2B2B; 
	background: #F6F6F6;

	font-family: 'Open Sans', sans-serif; 
}	
#banner {
   	width: 960 px;
	height: 492px;
	margin: 0px 200px 0px 200px;
	border:1px solid white;
	border-radius: 0px 0px 10px 10px;
}
h1 { 
	color: #111; 
	font-family: 'Helvetica Neue', sans-serif; 
	font-size: 100px; 
	font-weight: bold;
	color: #F6F6F6; 
	letter-spacing: -1px; 
	line-height: 1; 
	text-align: center; 
}
h2 { 
	color: #2B2B2B; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 50px; 
	font-weight: 300; 
	line-height: 32px; 
	margin: 0px 0px 72px 0px; 
	text-align: center; 
}

.schoen a {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
}


.schoen {
	width:200px;
    height:200px;
	border-radius: 10px;
	margin: 50px 100px 50px 200px;
	padding: 100px;
	float: left;
	border:1px solid #2B2B2B;
	background-position: center;
	background-image: url(http://static.zara.net/photos///2016/I/1/2/p/2431/102/102/2/w/560/2431102102_1_1_1.jpg?ts=1461863638387);
	color: #2B2B2B; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 50px; 
	font-weight: 300; 
	display: block;
	position: relative;
	overflow: hidden;
}

.schoen2 {
	width:200px;
    height:200px;
	border-radius: 10px;
	margin: 50px 0px 50px 55px;
	padding: 100px;
	float: left;
	border:1px solid #2B2B2B;
	background-position: center;
	background-image: url(http://static.zara.net/photos///2016/V/1/2/p/2442/102/202/2/w/560/2442102202_1_1_1.jpg?ts=1463761232249);
	color: #2B2B2B; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 50px; 
	font-weight: 300; 
	
	position: relative;
	overflow: hidden;
	display: block;
}
.schoen3 {
	width:200px;
        height:200px;
	border-radius: 10px;
	margin: 0px 100px 50px 200px;
	padding: 100px;
	float: left;
	border:1px solid #2B2B2B;
	background-position: center;
	background-image: url(http://static.zara.net/photos///2016/V/1/2/p/2012/102/107/2/w/560/2012102107_1_1_1.jpg?ts=1458326112639);
	color: #2B2B2B; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 50px; 
	font-weight: 300; 
	
	position: relative;
	overflow: hidden;
	display: block;
}
.schoen4 {
	width:200px;
        height:200px;
	border-radius: 10px;
	margin: 0px 0px 50px 55px;
	padding: 100px;
	float: left;
	border:1px solid #2B2B2B;
	background-position: center;
	background-image: url(http://static.zara.net/photos///2016/V/1/2/p/2800/102/032/2/w/560/2800102032_1_1_1.jpg?ts=1460117838339);
	color: #2B2B2B; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 50px; 
	font-weight: 300; 
	
	position: relative;
	overflow: hidden;
	display: block;
}
.schoen5 {
	width:200px;
        height:200px;
	border-radius: 10px;
	margin: 0px 100px 50px 200px;
	padding: 100px;
	float: left;
	border:1px solid #2B2B2B;
	background-position: center;
	background-image: url(http://static.zara.net/photos///2016/I/1/2/p/2521/102/040/2/w/560/2521102040_1_1_1.jpg?ts=1464605503684);
	color: #2B2B2B; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 50px; 
	font-weight: 300; 
	
	position: relative;
	overflow: hidden;
	display: block;
}
.schoen6 {
	width:200px;
        height:200px;
	border-radius: 10px;
	margin: 0px 0px 50px 55px;
	padding: 100px;
	float: left;
	border:1px solid #2B2B2B;
	background-position: center;
	background-image: url(http://static.zara.net/photos///2016/V/1/2/p/2418/102/040/2/w/560/2418102040_1_1_1.jpg?ts=1464360876911);
	color: #2B2B2B; 
	font-family: 'Open Sans', sans-serif; 
	font-size: 50px; 
	font-weight: 300; 
	
	position: relative;
	overflow: hidden;
	
}

.schoen:hover .hover {
	transform: translate(0px, 0px);
	animation: 2s ease-in-out;
}

.schoen1:hover .hover {
	transform: translate(0px, 0px);
	
}

.schoen2:hover .hover {
	transform: translate(0px, 0px);
	
}

.schoen3:hover .hover {
	transform: translate(0px, 0px);
	
}

.schoen4:hover .hover {
	transform: translate(0px, 0px);
	
}

.schoen5:hover .hover {
	transform: translate(0px, 0px);
	
}

.schoen6:hover .hover {
	transform: translate(0px, 0px);
	
}

.hover {
	width: 100%;
	height: 100%;
	position: absolute;
	transform: translate(0px, 100%);
	background-color: rgba(0, 0, 0, 0.5);
	left: 0px;
	top: 0px;
	transition: all 200ms ease-in-out;
	color: white; 
	display: flex;
	text-align: center;
	align-items: center; 
	flex-direction: column;
	justify-content: center;

}

.p-shoes {
	width: 100%;
	height: auto;
	color: white;
	font-size: 35px;
}
